/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Container styles */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Title styles */
h2 {
  margin-bottom: 10px;
  color: #333;
}

/* Select styles */
select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Checkbox styles */
.checkbox-container {
  margin-bottom: 15px;
}

.checkbox-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

/* Button styles */
button.export-button, .goToReports-btn {
  height: 80px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.export-button:hover, .goToReports-btn:hover {
  background-color: #0056b3;
}

/* Success message styles */
.success-message {
  margin-top: 10px;
  color: #4caf50;
}

.sub-checkbox-container{
  margin-left: 20px;
}

/* Responsive styles */
@media (max-width: 600px) {
  select,
  input[type="number"] {
    width: 100%;
  }
}
