<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcapptestvlad.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/da974f5d-5443-4acc-8f1c-434fa378527c/resourceGroups/MOD03WEBA/providers/Microsoft.Web/sites/FuncAppTestVlad</ResourceId>
    <UserName>$FuncAppTestVlad</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcapptestvlad.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>